<template>
<v-flex>
  <v-flex style="background: linear-gradient(#4d1d32, #303030);">
    <!-- container temp zone -->
  <v-container fill-height grid-list-lg >
           <!-- v-bind="{ [`lg${topcard.flex}`]: true }" -->
        <v-layout row wrap>
          <v-flex lg3 md3 xs12 sm12 text-xs-center>
            <v-card>
              <v-card-media height="150px" src="/static/time.jpg">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 text-xs-center flexbox>
                          <span  class="topic white--text">เวลา</span><br>
                              <h1 class="display-1 white--text hidden-sm-and-down">{{ now }}</h1>
                              <h1 class="display-1 white--text hidden-md-and-up">{{ now }}</h1>
                              <v-divider></v-divider>
                              <span class="caption white--text">นาที</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-card>
          </v-flex>
                    <v-flex lg3 md3 xs12 sm12  text-xs-center>
            <v-card>
              <v-card-media height="150px" src="/static/soil.jpg">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 text-xs-center flexbox>
                          <span  class="topic white--text">ความชื้นในดิน</span><br>
                               <h1 class="display-1 white--text hidden-sm-and-down">{{ avg_moisture }}</h1>
                              <h1 class="display-1 white--text hidden-md-and-up">{{ avg_moisture }}</h1>
                              <v-divider></v-divider>
                              <span class="caption white--text">เปอร์เซ็นต์</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-card>
          </v-flex>
                    <v-flex lg3 md3 xs12 sm12  text-xs-center>
            <v-card>
              <v-card-media height="150px" src="/static/sunset.jpg">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 text-xs-center flexbox>
                          <span  class="topic white--text">อุณหภูมิ</span><br>
                              <h1 class="display-1 white--text hidden-sm-and-down">{{ avg_temp }}</h1>
                              <h1 class="display-1 white--text hidden-md-and-up">{{ avg_temp }}</h1>
                              <v-divider></v-divider>
                              <span class="caption white--text">องศาเซลเซียส</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-card>
          </v-flex>
                    <v-flex lg3 md3 xs12 sm12  text-xs-center>
            <v-card>
              <v-card-media height="150px" src="/static/humidity.jpg">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 text-xs-center flexbox>
                          <span  class="topic white--text">ความชื้นในอากาศ</span><br>
                               <h1 class="display-1 white--text hidden-sm-and-down">{{ avg_humid }}</h1>
                              <h1 class="display-1 white--text hidden-md-and-up">{{  avg_humid }}</h1>
                              <v-divider></v-divider>
                              <span class="caption white--text">เปอร์เซ็นต์</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-card>
          </v-flex>
           <br> &nbsp;
        </v-layout>
      
  </v-container>
   </v-flex>  
  <v-flex row-justify-center>
    <!-- container realtime zone -->
  <v-container fill-height xs12 sm12 md12 lg12  grid-list-md class="lighten-4 innerstyle h-100">
    <v-card :width="windowSize.x">
      <span  class="headline white--text">ความชื้นในดิน</span> 
      <div  id="chart1" style='height: 300px;background-color:#fafafa;' ></div>
      </v-card>       
      
  </v-container>

   <v-container fill-height  grid-list-md class="lighten-4 innerstyle h-100">       
      
      <v-card :width="windowSize.x"><span  class="headline white--text">อุณหภูมิ</span><div id="chart2" style="height: 300px;background-color:#fafafa" ></div></v-card>
  </v-container>

   <v-container fill-height  grid-list-md class="lighten-4 innerstyle h-100">    
     <v-card :width="windowSize.x" ><span  class="headline white--text">ความชื้นในอากาศ</span><br><div id="chart3" style="height: 300px;background-color:#fafafa" ></div></v-card>   
      
  </v-container>
    <!-- container control zone -->
  <br><br><br>
  </v-flex>


</v-flex>
</template>

<script>
  import axios from 'axios';
  import len from 'object-length';
  import moment from 'moment';
  import _ from 'lodash';
  import {GoogleCharts} from 'google-charts';

  export default {
    name: 'Home',
    data () {
      return {
        url : 'http://www.smf.ubu.ac.th/data.php',
        avg_humid : 0,
        avg_temp : 0,
        avg_moisture : 0,
        home_data : [],
        windowSize: {
          x: 0,
          y: 0
        },
        now: moment().format('HH:mm'),
        PA : ''
      }
    },
    methods: {
      drawChart(id) {

         axios({ method: "GET", "url": this.url+'?datatable='}).then(result => {
        console.log("result",result.data[0]);
           var options1 = {
          curveType: 'function',
          width : this.windowSize.x-this.windowSize.x*0.1,
           lineWidth: 7,
          colors: ['#ffa9aa'],
           backgroundColor: 'transparent',
            titleTextStyle: {color: 'red'},
            hAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: {color: 'red'}},
            vAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: { color: 'red'}},
            legend: {
              textStyle: {color: 'red'},
              position: 'bottom' 
            }
        }

        const data2 = GoogleCharts.api.visualization.arrayToDataTable(result.data[0].Temp);

         var options2 = {
          curveType: 'function',
          width : this.windowSize.x-this.windowSize.x*0.1,
           lineWidth: 7,
          colors: ['#94ec00'],
           backgroundColor: 'transparent',
            titleTextStyle: {color: 'red'},
            hAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: {color: 'red'}},
            vAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: { color: 'red'}},
            legend: {
              textStyle: {color: 'red'},
              position: 'bottom' 
            }
        }

        const data3 = GoogleCharts.api.visualization.arrayToDataTable(result.data[0].Humid);

         var options3 = {
          curveType: 'function',
          width : this.windowSize.x-this.windowSize.x*0.1,
          lineWidth: 7,
          colors: ['#ff0000'],
           backgroundColor: 'transparent',
            titleTextStyle: {color: 'red'},
            hAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: {color: 'red'}},
            vAxis: {
              textStyle: {color: 'red'},
              titleTextStyle: { color: 'red'}},
            legend: {
              textStyle: {color: 'red'},
              position: 'bottom' 
            }
        }

        const data1 = GoogleCharts.api.visualization.arrayToDataTable(result.data[0].Moisture);

        const pie_1_chart = new GoogleCharts.api.visualization.LineChart(document.getElementById('chart1'));
          pie_1_chart.draw(data1,options1);
        const pie_2_chart = new GoogleCharts.api.visualization.LineChart(document.getElementById('chart2'));
          pie_2_chart.draw(data2,options2);
        const pie_3_chart = new GoogleCharts.api.visualization.LineChart(document.getElementById('chart3'));
          pie_3_chart.draw(data3,options3);




            }, error => {
                        console.error(error);
            });
       

      },
      data_avg(){
               axios({ method: "GET", "url": this.url+'?avg_data='}).then(result => {
        // console.log("result",result.data[0]);
         
                        this.avg_humid  = result.data[0].avg_Humid.toFixed(2)
                        this.avg_temp = result.data[0].avg_Temp.toFixed(2)
                        this.avg_moisture = result.data[0].avg_Moisture.toFixed(2)
            }, error => {
                        console.error(error);
            });
      },
      time() {
        this.PA =  moment().format('a')
        this.now = moment().format('HH:mm')
      },
    },
    mounted() {
      this.interval = setInterval(this.time, 60000);
      this.data_avg()
      this.avg_interval = setInterval(this.data_avg, 300000);
      this.avg_interval = setInterval(this.drawChart, 300000);
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }

     GoogleCharts.load(this.drawChart);
    }
  }

</script>


