<template>
  <v-app dark>

    <v-toolbar app color="pink darken-3">
      <v-toolbar-title @click="$router.replace('/')"> SMART FARM PROJECT</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-button @click="$router.replace('/history')"> ดูย้อนหลัง</v-button>
    </v-toolbar>


    <v-content >
      <router-view/>
    </v-content>



    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  name: 'App'
}
</script>
